<nav>
    <div class="nav-wrapper">
        <a href="/" class="brand-logo right">NJMS</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">

            {{#if isIndex}}
                <li class="active"><a href="/">users list</a></li>
            {{else}}
                <li><a href="/">users list</a></li>
            {{/if}}


            {{#if isCreatePDF}}
                <li class="active"><a href="/createPDF">create pdf</a></li>
            {{else}}
                <li><a href="/createPDF">create pdf</a></li>
            {{/if}}


            {{#if isCreateUser}}
                <li class="active"><a href="/createUser">create user</a></li>
            {{else}}
                <li><a href="/createUser">create user</a></li>
            {{/if}}


        </ul>
    </div>
</nav>
