<h1>Генерация ПДФ</h1>
<form method="POST">
    <label>Имя</label><br>
    <input name="firstName" class="field"/><br><br>
    <button class="btn waves-effect waves-light" type="submit" name="action">ген пдф</button>
</form>
<a href="/">К списку пользователей</a>
