<h1>Добавление пользователя</h1>
<form method="POST">
    <label>Имя</label><br>
    <input name="firstName" class="field"/><br><br>
    <label>Возраст</label><br>
    <input name="lastName" class="field"/><br><br>
    <label>Ссылка на аватар</label><br>
    <input name="image" class="field"/><br><br>
    <button class="btn waves-effect waves-light" type="submit" name="action">add new user</button>
</form>
<a href="/">К списку пользователей</a>
