<h1>Список пользователей</h1>
<p><a href="/createUser">Добавить пользователя</a></p>
<table>
    <tr><th>First name</th><th>Last name</th><th>Avatar</th></tr>
    {{#each users}}
        <tr>
            <td>{{this.firstName}}</td>
            <td>{{this.lastName}}</td>
            <td><img src="{{this.image}}" style="width: 50px"></td>
        </tr>
    {{/each}}
</table>
